{% extends "layout.tpl" %}
{% block main %}
<main data-bs-spy="scroll" data-bs-target="#nav" data-bs-root-margin="0px 0px -80%" data-bs-smooth-scroll="false" tabindex="0">
  <div class="container-fluid">
    <section id="gaiyo" class="fadeintop">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <h2><span class="glyphicon glyphicon-th-list"></span> 概要</h2>
          <p>計算・情報・有機化学の連携により生命・材料科学分野における諸問題の解決を目指します。</p>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 hidden-xs">
          <h2><span class="glyphicon glyphicon-info-sign"></span> 新着情報</h2>
          <dl class="row">
            <dt class="col-sm-4">R02.07.03</dt><dd class="col-sm-8">ホームページを開設しました。</dd>
          </dl>
        </div>
        <div class="clearfix visible-md visible-sm"></div>
      </div>
    </section>
    <section>
    <a class="anchor" id="psq"></a>
    <h1>PSQ水分離膜性能予測</h1>
    <h2><span class="glyphicon glyphicon-check"></span> Enter your SMILES</h2><br>
    <form data-for="#psq_result" name="form" action="{{url_for('psq',_method='POST')}}" method="post" class="m-1 py-2 row">
    <div class="form-group">
     <div class="input-group mb-3">
      <input type="search" name="smi" class="form-control"  placeholder="Enter SMILES">
      <span class="input-group-text" id="basic-addon2"><a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#smilesModal"><i class="bi bi-pencil-square"></i> Open Editor</a></span>
      <button class="btn btn-outline-light" type="submit">Go</button>
     </div>
    </div>
    </form>
    <div id="psq_result"></div>
    <div class="clearfix"></div>
      <h3>説明</h3>
      <ul style="margin-left:1em">
        <li>架橋分子のSMILESを与えると逆浸透膜としての性能を予測します。</li>
        <li>架橋されるケイ素部分を*（アスタリスク）あるいは[R]で与えてください。</li>
        <li>例) *C=C* : エチレン架橋のPSQ水分離膜の性能を計算します。</li>
        <li>アスタリスクがない場合や、PubChemに登録されていない分子が与えられると、一律で'Not available'となります。</li>
        <li>水浸透率(Lp)と除去率(R)のトレードオフ上限に近い性能の分子はデータベースに登録されます。</li>
      </ul>
    </section>
    <section>
    <a class="anchor" id="qy"></a>
    <h1>量子収率予測</h1>
    <h2><span class="glyphicon glyphicon-check"></span> Enter your SMILES</h2><br>
    <form data-for="#qy_result" name="form" action="{{url_for('qy',_method='POST')}}" method="post" class="m-1 py-2 row">
     <div class="input-group mb-3">
      <input name="smi" class="form-control"  placeholder="Enter SMILES">
      <span class="input-group-text" id="basic-addon2"><a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#smilesModal"><i class="bi bi-pencil-square"></i> Open Editor</a></span>
      <button class="btn btn-outline-light" type="submit">Go</button>
     </div>

    </form>
    <div id="qy_result"></div>

      <div class="clearfix"></div>
      <h3>説明</h3><br>
      <ul style="margin-left:1em">
        <li>量子収率を知りたい分子のSMILESを入力してください。</li>
        <li>エタノール溶液中での量子収率を予測します。</li>
        <li>精度が低いので50%を超えるか否かの目安としてみてください。</li>
      </ul>
      <div class="clearfix"></div>
    </section>
    <section>
      <a class="anchor" id="link"></a>
      <h1>リンク</h1>
      <ul style="margin-left:1em">
        <li><a target="_blank" href="https://home.hiroshima-u.ac.jp/orgmtrls/Ohshita_Group/Ohshita_Group-Home.html">広島大学有機元素材料化学研究室</a></li>
        <li><a target="_blank" href="http://www.bio.info.hiroshima-cu.ac.jp">広島市立大学バイオ情報学研究室</a></li>
      </ul>
    </section>
    <div class="modal fade" id="smilesModal" tabindex="-1" aria-labelledby="smilesModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-dark" id="smilesModalLabel">JSME-editor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <div id="jsme_container">
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button name="smiles" type="button" class="btn btn-primary" data-bs-dismiss="modal">Set SMILES</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="container-fluid">
  <section>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
      </div>
      <div class="pull-right col-xs-12 col-sm-6">
        <span class="glyphicon glyphicon-copyright-mark"></span> 2020 Hiroshima Chemistry Group<br>
        <p>ページ上部写真提供：広島県</p>
        <a href="#" title="ページトップへ"><span style="font-size:60px;" class="glyphicon glyphicon-collapse-up hidden-xs"></span></a>
      </div>
    </div>
  </section>
</footer>
<div class="clearfix"></div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jsme-editor@2022.9.26/jsme.nocache.js"></script>
<script>
 //this function will be called after the JavaScriptApplet code has been loaded.
    function jsmeOnLoad() {
        jsmeApplet = new JSApplet.JSME("jsme_container", "450px", "400px",{"options": "noquery,rbutton,nomultipart,noatommovebutton,nocontextmenu,nopaste,nofgmenu,nofullScreenIcon"});
        jsmeApplet.setMenuXShortcuts('Xx');
   }
</script>
<script defer>
// sticky navbar hide when it comes bottom 
if(!navigator.userAgent.match(/(iPhone|Android)/)){
  $(function() {
    var $win = $(window),
        $nav = $('#nav'),
        docmentHeight = $(document).height(),
        navPos = $nav.offset().top,
        fixedClass = 'sticky-top',
        hideClass = 'is-hide';
    $win.on('load scroll', function() {
      var value = $(this).scrollTop(),
          scrollPos = $win.height() + value;
      if ( value > navPos ) {
        if ( (docmentHeight - scrollPos) / scrollPos <= 0.01 ) {
          $nav.addClass(hideClass);
          docmentHeight = $(document).height();
        } else {
          $nav.removeClass(hideClass);
        }
        $nav.addClass(fixedClass);
      } else {
        $nav.removeClass(fixedClass);
        $nav.removeClass(hideClass);
      }
    });
  });
};
</script>
<script defer>
if(navigator.userAgent.match(/iPad/)){
$(document).on('touchmove', function(e) {
  if (!$(e.target).closest('.dropdown-menu').length) {
    $('.dropdown-menu').fadeOut();
    $('[data-bs-toggle=popover]').popover("hide");
  }
});
};
$(function(){
// // smooth jump
// var JMargin = 20;
// var $drop = $('.dropdown-menu');
// if(navigator.userAgent.match(/iPad/)){
//   $('a[href^="#"]').on('touchstart',SwJump);
//   $('a[href^="#s"]').on('touchend',function(){
//     $(this).closest('.dropdown-menu').addClass('hide');
//   });
// }else{
//   $('a[href^="#"]').click(SwJump);
// };
// function SwJump () {
//   $drop.removeClass('hide');
//   var speed = 600,
//       href = $(this).attr("href"),
//       target = $(href == "#" || href == "" ? 'html' : href);
//   if( href.indexOf('#s') === 0){
//       JMargin =60;
//   }else{
//       JMargin =20;
//   }
//   var position = target.offset().top-JMargin;
//   $('body,html').animate({scrollTop:position}, speed, 'swing');
//   return false;
// }

  // popover
  $('[data-bs-toggle=popover]').popover({
    trigger: 'focus,hover'
  });
  $('button[name=smiles]').on('click',function(){
      var smiles = jsmeApplet.smiles()
      $('input[name="smi"]').val(smiles);
  });

});
</script>
<script defer>
if(navigator.userAgent.match(/(iPhone|Android)/)){
  $(function () {
    $("#nav li a").click(function(event) {
      $(".navbar-collapse").collapse('hide');
    });
  });
};
</script>
<script defer>
$(function(){
//  $(window).scroll(function (){
//    $('.fadein').each(function(){
//      var elemPos = $(this).offset().top,
//      scroll = $(window).scrollTop(),
//      windowHeight = $(window).height();
//      if (scroll > elemPos - windowHeight + 30){
//        $(this).addClass('scrollin');
//      }
//    });
//  });
}); 
</script>
<script defer>
$(function(){
  $('.carousel').carousel();
  $('#carousel').on('touchstart', onTouchStart);
  $('#carousel').on('touchmove', onTouchMove);
  $('form').on('submit',function(e){
    e.preventDefault();
    var url = $(this).attr('action');
    var targ = $(this).data('for');
    //console.log(targ);
    var $form = $(this);
    $(targ).html('<div class="spinner-border text-light" role="status"><span class="visually-hidden">Loading...</span></div>');
    $.ajax({
      type : 'POST',
      data : $form.serialize(),
      dataType: 'html',
      url  :  url
    }).done(function(data, textStatus, jqXHR) {
      $(targ).html(data);
    });
   });
   $('#smilesModal').on('show.bs.modal',function(e){
    var org = $(e.relatedTarget);
    jsmeApplet.repaint();
    jsmeApplet.options('newLook');
   });

  var direction, position;
  function onTouchStart(event) {
    position = getPosition(event);
    direction = ''; 
  }

  function onTouchMove(event) {
    if (position - getPosition(event) > 30) { 
      $('.carousel').carousel('next');
    } else if (position - getPosition(event) < -30){ 
      $('.carousel').carousel('prev');
    }
  }
  function getPosition(event) {
    return event.originalEvent.touches[0].pageX;
  }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.js" defer></script>
<script defer>$(function(){objectFitImages();});</script>
{%endblock%}
